@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  background-color: #f0f0f0;
}

#map-container {
  background-color: #111827;
}

.regions path {
  stroke: #ffffff;
  stroke-width: 0.5px;
  cursor: pointer;
  transition: fill 0.3s ease;
}

.map1 path {
  fill: black;
}

.map1 path:hover {
  fill: #4B5563;
}

.map2 path {
  fill: #2D3748;
}

.map2 path:hover {
  fill: #718096;
}

.regions path.active {
  fill: #3B82F6;
}

.region-borders {
  fill: none;
  stroke: #ffffff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.view-btn {
  transition: all 0.2s ease-in-out;
}

.view-btn.active {
  background-color: #3B82F6;
  color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
